.Title {
  text-align: center;
  font-size: 50px;
  background-color: #688085;
  /* background-color: rgb(18, 90, 90); */
}

#personal_content {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  color:#6E8288;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#personal_content_container {
  display: block;

  width: 600px;
  height: 400px;

  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto !important;
  margin-right: auto !important;
  background-color: #C7D2D7;

  /* margin-top: 20px;
  margin-right: 15px;
  margin-bottom: 15px;
  margin-left: 20px; */

  /* background-color: red; */

  /* border-style: solid;
  border-width: 2px;
  border-color: blue;
  border-radius: 0px; */
}

#personal_content_header {
  height: 50px;

  background-color: #688085;
  /* background-color: rgb(red, green, blue); */

  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-stretch: expanded;
  text-align: center;
  color:black;

  padding-top: 15px;

  /* border-style: solid;
  border-width: 1px;
  border-color: blue;
  border-radius: 0px; */
}

#personal_content_name_group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding-top: 20px;
  padding-bottom: 20px;

  padding-left: 50px;
  padding-right: auto;

  /* border-style: solid;
  border-width: 1px;
  border-color: red;
  border-radius: 0px; */
}

#personal_content_first_name_group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  width: 50%;
}

#personal_content_last_name_group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  width: 50%;
}

.personal_input_size{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  width: 80%;
  height: 20px;
  margin-top: 10px;
}

#personal_content_notice_group{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: auto;

  /* border-style: solid;
  border-width: 1px;
  border-color: red;
  border-radius: 0px; */
}

#personal_content_info_group{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding-top: 0px;
  padding-bottom: 20px;

  padding-left: 50px;
  padding-right: auto;

  /* border-style: solid;
  border-width: 1px;
  border-color: red;
  border-radius: 0px; */
}

#howToNotify{
  display: flex;
  align-items: center;
  flex-direction: row;
  align-items: flex-start;
  font-size: 20px;
  width: 100%;
  
  padding-top: 30px;
  padding-right: 38px;
  
}

#personal_email_group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  width: 100%;

  /* border: 2px solid green; */
}

#personal_phonenumber_group{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  width: 100%;
}

#personal_email_check, #personal_phonenumber_check {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

#supervisor_group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;  

  padding-top: 20px;
  padding-bottom: 20px;
  
  /* border-style: solid;
  border-width: 1px;
  border-color: red;
  border-radius: 0px; */
}

#supervisor_selector{
  width: 200px;
  height: 30px;
}

#submit_button_group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  padding-top: 10px;
  padding-bottom: 10px;

  width: 100%;
  height: 30px;

  /* border-style: solid;
  border-width: 1px;
  border-color: red;
  border-radius: 0px; */
}

#form_data_submit_button {
  width: 100px;
  height: 30px;

  background-color: #6E8288;
  color: white;

  border-color: #6E8288;
}